:root{
    box-sizing: border-box;
    text-align: center;
}

@font-face {
    font-family: 'angista';
    src: url('fonts/angista_script-webfont.woff2') format('woff2'),
      url('fonts/angista_script-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'arnitta';
    src: url('fonts/arnitta_callina-webfont.woff2') format('woff2'),
      url('fonts/arnitta_callina-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}  
@font-face {
    font-family: 'neonsign';
    src: url('fonts/neonsign_regular-webfont.woff2') format('woff2'),
      url('fonts/neonsign_regular-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

#content{
    display: flex;
    /*align-items: center;
    justify-content: center;*/
    flex-direction: column;
    background-image: url("images/bg-home.jpg");
    height: 100vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire*/
}

.header{
    display:flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}

.header button{
    font-family: "neonsign";
    text-shadow: 0px 0px 5px lightyellow, 
                0px 1px rgb(248 211 2), 
                1px 6px 2px blue, 
                1px 4px rgb(126 0 0), 
                2px 5px rgb(126 0 0);
    padding: 1%;
    margin: 0;
    border-radius: 0;
    border-width: 0px;
    border-style: unset;
    /*border-color: #f8d302;*/
    background-color: #7b68ee00;
    color: white;
    box-shadow: 2px 2px 16px 4px rgb(0 0 0 / 20%);
    font-size: x-large;
    width: max-content;
}
#selected{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:50vw;
    

}
.title{
    display: block;

}
.title h1{
    font-size: xxx-large;
    font-family: 'arnitta';
    text-shadow: 0px 0px 5px lightyellow, 
                0px 1px rgb(248 211 2), 
                1px 6px  2px blue,
                1px 4px rgb(126 0 0),
                2px 5px rgb(126 0 0);
    color: white;
}
.title h3{
    font-family: 'angista';
    font-size: x-large;
    text-shadow: 0px 0px 5px lightyellow, 
    0px 1px rgb(248 211 2), 
    1px 6px  2px blue,
    1px 4px rgb(126 0 0),
    2px 5px rgb(126 0 0);
    color: white;
    /*text-align: end;*/
    /*text-shadow: 1px 1px 2px rgb(126, 0, 0), 
                2px 5px rgb(248, 121, 2), 
                2px 9px rgb(248, 211, 2),
                2px 13px lightyellow;
    color: white;*/
}

.info{
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
}

.info p{
    font-family: "neonsign";
    text-shadow: 0px 0px 5px lightyellow, 
                0px 1px rgb(248 211 2), 
                1px 6px 2px blue, 
                1px 4px rgb(126 0 0), 
                2px 5px rgb(126 0 0);
    color: white;
}

.info button{
    font-family: "neonsign";
    /*text-shadow: 0px 0px 5px lightyellow, 
                0px 1px rgb(248 211 2), 
                1px 6px 2px blue, 
                1px 4px rgb(126 0 0), 
                2px 5px rgb(126 0 0);*/
    padding: 5%;
    margin: 8%;
    border-radius: 50px;
    border-width: 0px;
    border-style: unset;
    /*border-color: #f8d302;*/
    background-color: #e1c971c7;
    color: black;
    box-shadow: 2px 2px 16px 4px rgb(0 0 0 / 20%);
    font-size: x-large;
    width: max-content;
    font-size: medium;
}