:root{
    box-sizing: border-box;

}

#content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("images/bg-home.jpg");
    height: 100vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire*/
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:50vw;
    

}
.title{
    display: block;

}
.title h1{
    font-size: xxx-large;

    text-shadow: 1px 1px 2px rgb(126, 0, 0), 
                2px 5px rgb(248, 121, 2), 
                2px 9px rgb(248, 211, 2),
                2px 13px lightyellow;
    color: red;
}
.title h3{
    font-size: x-large;
    text-shadow: 1px 1px 2px rgb(126, 0, 0), 
                2px 5px rgb(248, 121, 2), 
                2px 9px rgb(248, 211, 2),
                2px 13px lightyellow;
    color: red;
}

.btns{
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btns button{
    
    padding: 2%;
    margin: 1%;
    border-radius: 38px;
    border-width: 4px;
    border-style: inset;
    border-color: #f8d302;
    background-color: #7b68ee;
    color: white;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    font-size: larger;

}